.ipynb_checkpoints
__pycache__
.vscode
.DS_Stor



HW_01_example/
README.md
experiments/
lightning_logs/
segmentation_test.ipynb
HISTORY&COMMENTS.md
lightning_logs/

venv/
data/images/

*.ckpt
*.pt
*.onnx