# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__

# VSCode
*.code-workspace
.vscode/

.DS_Store

HW_01_example/
experiments/
lightning_logs/
MISC/
venv/
data/images/

data/df_test.csv
data/df_train.csv
data/df_valid.csv
data/README.md

README_FOR_FUTURE.md


*.ckpt
*.pt
*.onnx
